
.block__layered-text {
    position: relative;
}

.background__element {
    position: absolute;
    bottom: var(--distance-from-bottom);
    left: 0;
    margin-bottom: 60px;
    line-height: 0;
}

.background__bg {
    z-index: -1;
}

.layered-text__overlay-content {
    position: relative;
    padding-top: 175px;
    padding-bottom: 30px;
    padding-right: 245px;
    padding-left: 245px;
}
.text-size__bigger .layered-text__overlay-content {
    padding-top: 135px;
    padding-right: 116px;
    padding-left: 116px;
}

.layered-text__overlay-content h1,
.layered-text__overlay-content h2 {
    margin-bottom: 35px;
    font-weight: 700;
    line-height: .95;
}

.layered-text__overlay-content h2 {
    font-size: var(--museum-font-size-biggest);
}

.layered-text__overlay-content h3 {
    margin-left: 35px;
    margin-bottom: 35px;
    font-size: var(--museum-font-size-big);
    font-family: "Articulat CF";
    letter-spacing: -1px;
    line-height: .9;
}
.layered-text__overlay-content h3 strong {
    font-weight: 800;
}

.layered-text__overlay-content h1 strong,
.layered-text__overlay-content h2 strong {
    position: relative;
    z-index: -1;
}

.layered-text__overlay-content p {
    max-width: 590px;
    margin-left: 30px;
    font-size: 18px;
    font-family: 'Articulat CF';
    line-height: 1.3;
}

.text-size__bigger p {
    max-width: 700px;
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Articulat CF v2';
}

.layered-text__overlay-content img {
    margin-left: 10px;
    vertical-align: middle;
}
